<article
  class="flex flex-col gap-4 lg:flex-row lg:gap-8 bg-[#0D0C08] p-[18px] lg:px-9 lg:py-8 relative"
>
  <div
    class="w-full max-h-[200px] lg:w-[34%] lg:max-w-[475px] lg:max-h-[409px] relative"
  >
    <div
      class="absolute inset-0 bg-gradient-to-b from-[#02071200] to-[#02071288]"
    ></div>
    <img
      src="./assets/images/gaming-highlights-1.webp"
      alt=""
      class="w-full max-h-[200px] lg:h-full lg:max-h-max object-cover"
    />
  </div>
  <div class="flex flex-col gap-2 lg:gap-[18px] lg:w-[63%] max-w-[865px]">
    <div
      class="bg-blue-700 p-[6px] lg:py-3 lg:px-7 w-fit rounded-md shadow-inner shadow-white"
      id="text-roboto"
    >
      <p>ASIA</p>
    </div>
    <h3 class="text-h2 font-bold lg:leading-tight" id="text-roboto">
      The Epic Comeback
    </h3>
    <p id="text-roboto" class="leading-tight">
      A team that was losing by a large margin managed to turn the tide and win
      the match in the last minute. It showcases the skills, strategies, and
      teamwork of the team, as well as the reactions of the opponents and the
      audience.
    </p>
    <a href="#" class="w-fit">
      <div class="relative w-fit flex justify-center items-center px-5 py-3">
        <img
          src="./assets/images/border-register.png"
          alt=""
          class="absolute left-0 right-0 w-full"
        />
        <p class="whitespace-nowrap">READ MORE</p>
      </div>
    </a>
  </div>
  <img
    src="./assets/images/radial.png"
    alt=""
    class="absolute bottom-0 right-0"
  />
</article>
