<div class="w-full flex justify-center gap-4 lg:gap-8" id="text-roboto">
  <button
    class="px-3 py-[10px] lg:px-10 lg:py-7 rounded-md lg:rounded-[10px] border-2 border-[#41454D]"
  >
    Prev
  </button>
  <div class="flex divide-x border-[#41454D]">
    <div
      class="cursor-pointer w-12 lg:w-[75px] h-full flex justify-center items-center text-black bg-[#f2f279]"
    >
      <p>1</p>
    </div>
    <div
      class="cursor-pointer w-12 lg:w-[75px] h-full flex justify-center items-center bg-[#222938]"
    >
      <p>2</p>
    </div>
    <div
      class="hidden cursor-pointer w-12 lg:w-[75px] h-full lg:flex justify-center items-center bg-[#222938]"
    >
      <p>3</p>
    </div>
    <div
      class="hidden cursor-pointer w-12 lg:w-[75px] h-full lg:flex justify-center items-center bg-[#222938]"
    >
      <p>4</p>
    </div>
    <div
      class="cursor-pointer w-12 lg:w-[75px] h-full flex justify-center items-center bg-[#222938]"
    >
      <p>...</p>
    </div>
    <div
      class="hidden cursor-pointer w-12 lg:w-[75px] h-full lg:flex justify-center items-center bg-[#222938]"
    >
      <p>169</p>
    </div>
    <div
      class="cursor-pointer w-12 lg:w-[75px] h-full flex justify-center items-center bg-[#222938]"
    >
      <p>170</p>
    </div>
  </div>
  <button
    class="px-3 py-[10px] lg:px-10 lg:py-7 rounded-md lg:rounded-[10px] border-2 border-[#41454D] text-[#FEFE84]"
  >
    Next
  </button>
</div>
