<div class="bg-[#222938]">
  <div class="relative h-[294px]">
    <img
      src="./assets/images/charizard.png"
      alt=""
      class="w-full h-full object-cover"
    />
    <div class="flex gap-2 absolute left-3 -bottom-[28.5px]">
      <div class="py-3 px-6 bg-orange-500">
        <p>Fire</p>
      </div>
      <div class="py-3 px-6 bg-[#8899ff]">
        <p>Flying</p>
      </div>
    </div>
  </div>
  <div class="px-[14px] pt-[51px] pb-8">
    <p class="font-bold text-3xl">Charizard</p>
  </div>
  <div class="h-[2px] bg-[#41454D]"></div>
  <div class="pt-5 pb-6 px-[14px]">
    <div class="flex flex-col">
      <p id="text-roboto" class="mb-3">Abilities</p>
      <div class="flex gap-1 mb-5">
        <img src="./assets/icons/flare-blitz.svg" alt="" />
        <img src="./assets/icons/inferno.svg" alt="" />
        <img src="./assets/icons/heat-wave.svg" alt="" />
        <img src="./assets/icons/hurricane-2.svg" alt="" />
      </div>
      <p id="text-roboto" class="text-3xl mb-6">Basic Stat : 534</p>
      <button
        class="self-end text-black px-11 py-[22px] bg-gradient-to-r from-[#FEFE84] to-[#FF963E] rounded-[10px]"
      >
        VIEW MORE
      </button>
    </div>
  </div>
</div>
